@charset "utf-8";

@import url("font.css");

html{scroll-behavior: smooth;}

body ,a{
  font-family: "Noto Sans KR", sans-serif;color:#333;
}

/*컨테이너*/
@media (min-width:992px){
    .container{max-width:1500px;width:100%;margin:0 auto}
    }
    @media (max-width:991px){
    .container{max-width:950px;width:100%;margin:0 auto}
    }
    @media (max-width:766px){
    .container{max-width:750px;width:100%;margin:0 auto}
    }
    
    @media (min-width:992px){
    .container2{max-width:1000px;width:100%;margin:0 auto}
    }
    @media (max-width:991px){
    .container2{max-width:950px;width:100%;margin:0 auto}
    }
    @media (max-width:766px){
    .container2{max-width:750px;width:100%;margin:0 auto}
    }


/*반응형별 DISPLAY*/

@media (min-width:992px){
.d_display{display:block;}
.m_display{display:none;}
}
@media (max-width:991px){
.d_display{display:none;}
.m_display{display:block;}
}
@media (max-width:766px){
.d_display{display:none;}
.m_display{display:block;}
}

/* 애니메이션 키프레임*/
@keyframes fadeIn {
    0% { opacity: 0;}
    100% { opacity: 1;}
}

@keyframes fadeOut {
    0% { opacity: 1;}
    100% { opacity: 0;}
}

@keyframes mainbeforeFadeIn {
    0% {opacity: 0; top:-30px;right:-35px;}
    100% {opacity: 1;top:-35px;right:-40px}
}

@keyframes rotate_yellow {
    0% { opacity: 0;transform: rotateZ(-50deg);left:-160px;top:-100px}
    100% { opacity: 1;transform: rotateZ(0)}
}

@keyframes rotate_gray {
    0% { opacity: 0;transform: rotateZ(50deg);right:-160px;bottom:-100px}
    100% { opacity: 1;transform: rotateZ(0);}
}

@keyframes itemtop_FadeIn {
    0% {opacity: 0;width:10%;height:20px;}
    100% {opacity: 1;width:30%;height:80px;}
}

@keyframes itembottom_FadeIn {
    0% {opacity: 0;width:10%;height:20px;}
    100% {opacity: 1;width:30%;height:80px;}
}

@keyframes point_yellow {
    0% {width:0%;left:0}
    100% {width:100%;}
}





/*공통효과*/
.ani_move{transition: 1s;}
.end_padding{padding:80px}
.relative{position:relative}
.ondisplay{opacity: 1;transition: 0.3s;cursor: pointer;}
.offdisplay{opacity: 0;transition: 0.3s;cursor: default;}
.border_line{width:65%;height:2px;border-color:#f5df4d;margin-top:40px;margin-bottom:40px;}
body{cursor: default;}


/*main start*/
#main{position: relative;width:100%;max-height:960px;height:100vh;}
.main_wrap {width:100%;margin:0 auto;text-align: center;}

/*square_wrap*/
.square_wrap{position: absolute;top:50%;left:50%;transform: translate(-49%,-49%);}
.square{width:250px;height:300px;position: relative;}
.square::before{border:10px solid #f5df4d;background-color: #fff;position: absolute;width:100%;height:100%;top:-40px;left:-80px;content: " ";z-index: -1; animation: rotate_yellow 0.6s;}
.square::after{border:10px solid #949597;position: absolute;width:100%;height:100%;bottom:-40px;right:-80px;content: " ";z-index: -5; animation: rotate_gray 0.8s;}

/*web publisher*/
.main_title{position: absolute;top:50%;left:50%;transform: translate(-49%,-49%);}
.main_title_circle {font-size:50px;margin-bottom:12px;width:100%;height:100%;position: relative;margin-bottom:12px;font-size:40px;font-weight:bold;}
.main_title_circle::before {content: " ";width:30px;height:30px;background-color:#f5df4d;position: absolute;top:-35px;right:-40px;z-index: -1;border-radius: 30px;animation: mainbeforeFadeIn 0.8s;}
.main_title_circle::after {content: " ";width:10px;height:10px;background-color:#949597;position: absolute;top:-5px;right:-10px;z-index: -1;border-radius: 30px;animation: fadeIn 0.4s;}
.main_title p {font-size:14px;letter-spacing:2px;color:#949597;  }

/*logo*/
.logo_main{width:120px;position: absolute;bottom:50px;right:50px;opacity: 0.6;}
.logo_main img{width:100%;}
.logo_wrap {position:fixed;top:170px;right:-90px;width:260px;text-align: center;transform: rotate( 90deg );z-index: -1;}
.logo_square{position: relative;font-size:20px;width:100%;color:#333;font-weight:400}
.logo_square::before{background: #f5df4d;position: absolute;width:20px;height:20px;top:-5px;left:-20px;content: " ";z-index: -1; }
.logo_square::after{background: #949597;position: absolute;width:20px;height:20px;top:5px;left:-10px;content: " ";z-index: -5; }

/*box*/
.left_box{position:fixed;top:0;left:0;width:10px;height:100%;text-align: center;background: #f5df4d;z-index: -1;}
.weight_box{position:absolute;top:0;left:0;width:35px;height:100%;text-align: center;background: #fff;z-index: 10;}



/*contact_us btn*/
.contact_us{width:150px;text-align: center;font-size:22px;font-weight: 500;position: absolute;bottom:20px;left:40px;height:50px;cursor: pointer;transition: 0.5s}
.contact_us a{color:#333;letter-spacing: 1px;}
/*main end*/


/*about start*/
.about_wrap{width:100%;min-height:650px;height:100%;margin-bottom:50px;}
.about_title{font-size:60px;position: relative;width:200px;margin-left:20px;margin-bottom:30px;margin-top:50px}
.about_title::before{content: ' ';position: absolute;width:20px;height:20px;background-color:#f5df4d;z-index: -1;right:0;border-radius: 30px;}
.about_title::after{content: ' ';position: absolute;width:15px;height:15px;background-color:#949597;z-index: -1;right:-5px;top:-5px;border-radius: 30px;}

.about{width:100%;text-align: center;height:100%;display:flex;}

/*info*/
.left_about{width:100%;height:100%;display: flex;flex-basis: auto;}

.info_box{width:100%;height:100%;margin:50px 50px 0 50px;text-align: left;flex-basis: 70%}
.info_box img{width:400px;height:400px;border:1px solid red;}

.info_text{width:100%;margin-top:30px;text-align: left;}
.info_text h3{font-size:30px;margin-top:15px;position: relative;width:180px;}
.info_text h3::before{content: " ";position: absolute;width:10px;height:10px;background-color: #f5df4d;border-radius: 30px;right:0;}
.info_text ul{margin-top:30px}
.info_text ul li{margin-top:20px;font-size:17px; font-family: "S-CoreDream-4", sans-serif;letter-spacing: -1px;}
.info_text ul li b{font-size:18px}

.info_crareer{margin-top:20px}
.info_crareer h4{font-size:22px;width:83px;position: relative;}
.info_crareer h4::before{content: " ";position: absolute;width:10px;height:10px;background-color: #f5df4d;border-radius: 30px;right:0;}
.info_crareer ul{margin-top:15px;}
.info_crareer ul li{margin-top:10px;font-size:15px }

.job_name{padding-top:10px;}
.job > .job_name h6 {font-size:15px;}
.job_content{margin-top:5px!important;}
.job_content > li b {font-size:14px!important;}
.job_content > li {font-size:13px!important;}


.info_skil h4{font-size:22px;width:50px;position: relative;}
.info_skil h4::before{content: " ";position: absolute;width:10px;height:10px;background-color: #f5df4d;border-radius: 30px;right:0;}
.info_skil ul{ display:flex;flex-wrap: wrap;margin-top:15px;}
.info_skil ul li{margin-right:20px;position: relative;margin-bottom:5px;margin-top:0;font-size:14px;
font-family: "S-CoreDream-4", sans-serif;letter-spacing: -1px;}
.info_skil ul li::before{content: " ";position: absolute;width:4px;height:4px;border-radius: 30px;background-color: #f5df4d;
top:50%;right:-13px;transform: translate(0,-50%);}
.info_skil ul li:last-child:before{content: " ";display:none;}



/*이력서보기*/
.right_about{width:100%;height:100%;font-family: "S-CoreDream-4", sans-serif;flex-basis: 80%;}
.about_text{margin-top:130px;}
.about_text h2{font-size:25px;margin-bottom:10px;}
.about_text .about_keypoint{color:#949597;letter-spacing: -1px;font-size:15px;}
.about_text div{font-size:16px;font-weight:600;margin-bottom:25px;}
.about_key_wrap{display:flex;text-align:center;justify-content: center;align-items: center;}
.about_keyword{margin:0 10px;font-weight:bold;font-size:18px;position: relative;}
.about_keyword::before{position: absolute;content: " ";z-index: -1;width:100%;height:10px;background-color: #f5df4d;
top:13px;left:50%;transform: translate(-50%,0);padding:0 2px;animation: point_yellow 1s}

.about_keyword span{margin-right:2px;font-size:22px;}
.about_txt{ display: flex;flex-wrap: wrap;flex-direction: column; align-items: center;justify-content: center;}
.about_txt h3{color:#333;font-size:20px;margin-bottom:30px;}
.about_txt p{text-align: center;line-height: 20px;font-size:14px;font-weight:600}

.resume{width:150px;height:35px;margin:60px auto 0;line-height: 35px;position: relative;background-color: #fff;letter-spacing: -1px;font-weight: bold;}
.resume a{display:block;}
.resume a{display:block;font-size:15px}
.resume::before{position: absolute;content: " ";width:150px;height:35px;z-index: -1;background-color: #f5df4d;top:-3px;left:-3px;transition:0.4s}
.resume::after{position: absolute;content: " ";width:150px;height:35px;z-index: -1;background-color: #949597;bottom:-3px;right:-3px}
.resume:hover::before{background-color: #949597;}
.resume:hover::after{background-color: #f5df4d;}
/*about end*/

/*portfolio start */
.portfolio_wrap{width:100%;max-height:100%;height:100%;margin-bottom:50px;}
.portfolio_title{font-size:60px;position: relative;width:250px;margin-left:20px;margin-bottom:30px;}
.portfolio_title::before{content: ' ';position: absolute;width:20px;height:20px;background-color:#f5df4d;z-index: -1;right:0;border-radius: 30px;}
.portfolio_title::after{content: ' ';position: absolute;width:15px;height:15px;background-color:#949597;z-index: -1;right:-5px;top:-5px;border-radius: 30px;}

.portfolio_bar{width:100%;max-width: 600px;height:30px;display:flex;text-align: center;margin:50px auto 30px;}
.portfolio_bar li{margin:0 auto;height:30px;line-height: 30px;font-weight:bold;cursor: pointer;}
.bar_action{border-bottom:2px solid #f5df4d;padding:0 10px 2px;position:relative;}
.bar_action::before{position:absolute;content: " ";width:10px;height:10px;background-color: #f5df4d;border-radius: 20px;right:-2px;top:-2px;}
.bar_action::after{position:absolute;content: " ";width:7px;height:7px;background-color: #949597;border-radius: 20px;right: -4px;top:-4px}

.item_wrap{width:100%;max-height:1000px;height:100%;overflow: hidden;}
.item_boxwrap{width:80%;height:100%;display:flex;flex-wrap: wrap;align-items: center;justify-content: center;margin:0 auto;}
.img_box{width:400px;height:300px;background-color: rgba(0,0,0,0.1);margin:20px 10px 0;position: relative;cursor: pointer;transition:0.5s;box-shadow: 0px 3px 8px #333;}
.img_box_bg{transition: 0.4s;opacity: 0.6;}
.img_box_item{width:100%;height:100%;}
.img_box_text{width:100%;height:auto;position: absolute;top:50%;text-align: center;z-index: 10;transform: translate(0,-50%);transition: 0.3s;opacity: 0;}
.img_box_text h2{font-size:30px;margin-bottom:20px;margin-top:20px;color:#fff;letter-spacing: -2px;}
.img_box_text p{font-size:18px;font-weight:bold;width:100%;color:#f5df4d}

.img_box:hover .img_box_bg{width:100%;height:100%;background-color:#333;position: absolute;top:0;left:0;z-index: 1;}
.img_box:hover .img_box_text{opacity: 1;}
.img_box:hover::before{content: ' ';position: absolute;border-top:5px #f5df4d solid;border-left:5px #f5df4d solid;top:0;left:0;z-index: 2;
width:30%;height:80px;animation: itemtop_FadeIn 0.4s;z-index: 20;}
.img_box:hover::after{content: ' ';position: absolute;border-bottom:5px #949597 solid;border-right:5px #949597 solid;bottom:0px;right:0;z-index: 2;
width:30%;height:80px;animation: itembottom_FadeIn 0.6s;z-index: 20;}

/*portfolio end */

/*contact start*/
.contact_wrap{width:100%;max-height:600px;height:100vh;padding-bottom:200px;position: relative;padding-top:100px}
.contact_title{font-size:60px;position: relative;width:250px;margin-left:auto;margin-right:auto;margin-bottom:30px}
.contact_title::before{content: ' ';position: absolute;width:20px;height:20px;background-color:#f5df4d;z-index: -1;right:0;border-radius: 30px;}
.contact_title::after{content: ' ';position: absolute;width:15px;height:15px;background-color:#949597;z-index: -1;right:-5px;top:-5px;border-radius: 30px;}


.contact-form{width:400px;height:450px;margin:0 auto;padding:20px;margin-top:80px;position: relative;background-color: #fff;}
.contact-form::before{width:400px;height:450px;position: absolute;background-color: #f5df4d;content: " ";top:-20px;left:-20px;padding:20px;z-index: -1;}
.contact-form::after{width:400px;height:450px;position: absolute;background-color: #949597;content: " ";bottom:-20px;right:-20px;padding:20px;z-index: -1;}
.contact-form input {height:30px;width:95%;margin:0 auto;display:block;border:2px solid #949597;border-radius: 2px;}
.contact-form label {width:350px;height:30px;line-height:20px;text-align: left;color:#333;display:block;font-weight:bold;font-size:14px;}
.contact-form textarea {width:350px;height:150px;border:2px solid #949597;background-color:transparent;text-align: left;resize: none;padding:20px;margin:0 auto;display:block}


input[type=text] {margin-bottom:20px;}
input[type=email] {margin-bottom:20px;}
input[type=submit] {width:200px;height:40px;background-color: #fff;margin-top:20px;cursor: pointer;font-weight:bold;color:#333;transition: 0.3s;}
input[type=submit]:hover {color:#fff;background-color: #949597;}


input:focus {outline:none;}
textarea:focus {outline:none;}
/*contact end*/


/*foter start*/
.foter_wrap{width:100%;height:100px;background-color: #949597;text-align: center;padding-top:10px}
.foter{width:100%;height:40px;padding-top:10px;}
.foter_content{height:100%;line-height: 50px;font-size:12px;color:#fff}
.foter_capy{font-size:15px;color:#fff;padding-top:10px}


.icon_top_wrap{width:35px;height:35px;position: fixed;right:20px;bottom:20px;}
.icon_top{width:100%;height:100%;position: relative;line-height:35px;font-size:15px;font-weight:bold;}
.icon_top:hover span{color:#fff}
.icon_top::before{content: " ";width:20px;height:20px;position: absolute;background-color: #949597;z-index: -1;top:5px;left:-10px;transition: 0.3s;}
.icon_top::after{content: " ";width:20px;height:20px;position: absolute;background-color: #f5df4d;z-index: -1;top:10px;left:-5px;transition: 0.3s;}
.icon_top:hover::before{background-color:#f5df4d;}
.icon_top:hover::after{background-color:#949597;}
/*foter end*/
