@charset "UTF-8";
/*Color */
@import url("https://webfontworld.github.io/SCoreDream/SCoreDream.css");
body, * {
  font-family: "SCoreDream";
  font-weight: 400;
  font-size: 14px;
  color: #333;
  letter-spacing: -1px;
  scroll-behavior: smooth;
}

body {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

section {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.fixed {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.inner {
  max-width: 100%;
  padding: 0 25px;
  text-align: center;
  box-sizing: border-box;
}

.buttonComponent {
  width: 280px;
  height: 70px;
  line-height: 70px;
  border-radius: 60px;
  background: #102438;
  margin: 30px auto;
}
.buttonComponent a {
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  display: block;
}

.modal_wrap {
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.modal_wrap .modal {
  width: 100%;
  max-width: 280px;
  height: 120px;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.modal_wrap .modal p {
  padding: 20px;
}
.modal_wrap .modal button {
  cursor: pointer;
  border: none;
  width: 120px;
  height: 40px;
  border-radius: 10px;
  background: #ffac0d;
  font-weight: 500;
}

.body_text {
  font-size: 18px;
  line-height: 25px;
  margin: 20px 0 15px;
}
.body_text span {
  font-weight: bold;
}

@media (min-width: 768px) {
  .PC_display {
    display: block;
  }

  .m_display {
    display: none;
  }
}
@media (max-width: 767px) {
  .PC_display {
    display: none;
  }

  .m_display {
    display: block;
  }
}
/*Color */
main {
  width: 100%;
  overflow: hidden;
  background: #f3f3f3;
  /* info 공통 */
}
main .logo {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  padding: 20px 0;
  display: flex;
  align-items: center;
}
main .logo .logo-box {
  width: 200px;
  height: 50px;
  position: relative;
}
main .logo .logo-box img {
  position: absolute;
  width: 130px;
  height: auto;
  top: 0;
  left: 0;
}
main .main_wrap {
  width: 100%;
  background: #f3f3f3;
  z-index: 2;
}
main .main_wrap ul {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.5);
  margin-top: 100px;
}
main .main_wrap ul li {
  position: relative;
}
main .main_wrap ul .oh {
  position: absolute;
  width: 280px;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
}
main .main_wrap ul .oh img {
  width: 100%;
}
main .main_wrap ul .friends {
  margin: 0 0 30px -20px;
}
main .main_wrap ul .friends span {
  display: inline-block;
  height: auto;
  transform: matrix(1, 0, 0, 1, 0, 0);
  vertical-align: bottom;
}
main .main_wrap ul .friends span img {
  width: 100%;
}
main .main_wrap ul .friends .ryan {
  width: 130px;
}
main .main_wrap ul .friends .chun {
  width: 90px;
}
main .main_wrap ul :nth-child(3) {
  font-size: 45px;
  font-weight: 800;
  line-height: 50px;
  opacity: 1;
}
main .main_wrap ul :nth-child(4) {
  opacity: 1;
  font-size: 18px;
  font-weight: 600;
  line-height: 35px;
  color: #929292;
}
main .main_wrap ul :nth-child(4) strong {
  color: #ffac0d;
  font-weight: 700;
  padding: 20px;
  display: block;
}
main .main_wrap ul :nth-child(4) span {
  color: #d6d6d6;
}
main .main_wrap ul .Surprise {
  opacity: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: 600;
  line-height: 35px;
  color: #333;
}
main .main_wrap ul .Surprise strong {
  color: #ffac0d;
  font-weight: 700;
  padding: 20px;
  display: block;
  font-size: 30px;
}
main .main_wrap ul .Surprise span {
  color: #b0ada6;
}
main .dump-section div {
  pointer-events: none;
  height: 100vh;
}
main .videos {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
}
main .videos .wraps {
  width: 100%;
  height: 100%;
  position: relative;
}
main .videos .wraps .mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../image/bg_5.svg") center/cover;
}
main .videos .wraps .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../image/video_image.jpg") center/cover;
}
main .videos .wraps .activeBg {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100vh;
  opacity: 0;
}
main .videos .wraps .cute_chun {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
}
main .videos .wraps .cute_chun * {
  color: #fff;
  font-size: 20px;
  margin-bottom: 20px;
}
main .information {
  width: 100%;
  padding: 50px 0;
  background-color: #fff;
}
main .quizInfo {
  width: 100%;
  padding: 130px 0 50px;
  z-index: 3;
}
main .quizInfo .quiz h3 {
  font-size: 32px;
  font-weight: bold;
}
main .quizInfo .quiz .week26 {
  color: #333333;
}
main .quizInfo .quiz .week26 span {
  font-weight: bold;
}
main .quizInfo .quiz .sm_text {
  font-size: 12px;
  color: #777;
  line-height: 20px;
}
main .quizInfo .quiz img {
  width: 250px;
}
main .quizInfo .quiz p {
  margin-top: 15px;
  color: #ffac0d;
  line-height: 20px;
  font-weight: 500;
}
main .giftInfo {
  width: 100%;
  z-index: 3;
}
main .giftInfo .gift h3 {
  font-size: 32px;
  font-weight: bold;
}
main .giftInfo .gift .gift_text {
  font-size: 18px;
  line-height: 25px;
  margin: 20px 0 15px;
  color: #333333;
}
main .giftInfo .gift .gift_text span {
  font-weight: bold;
}
main .giftInfo .gift h4 {
  width: 110px;
  font-size: 20px;
  font-weight: 800;
  position: relative;
  margin: 40px auto;
}
main .giftInfo .gift h4::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 100%;
  height: 15px;
  background: #ffee56;
  z-index: -1;
}
main .giftInfo .gift img {
  width: 325px;
}
main .giftInfo .gift p {
  margin-top: 15px;
  color: #ffac0d;
  line-height: 20px;
  font-weight: 500;
}
main .giftInfo .gift ul li {
  width: 325px;
  margin: 10px auto;
}
main .giftInfo .gift ul li:nth-child(3) * {
  color: #fff;
}
main .giftInfo .gift ul li:nth-child(3) button {
  cursor: pointer;
  width: 100%;
  height: 50px;
  background: #ffb800;
  border-radius: 8px;
  border: none;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .giftInfo .gift ul li:nth-child(3) button span {
  margin-left: 10px;
  display: block;
  transition: 0.4s;
}
main .giftInfo .gift ul li:nth-child(3) button span.on {
  transform: rotate(180deg);
}
main .giftInfo .gift ul li:nth-child(3) .detail {
  position: relative;
  top: -5px;
  width: 100%;
  height: 0;
  padding: 0;
  background: #ffb800;
  border-radius: 0 0 8px 8px;
  overflow: hidden;
  transition: 0.3s;
}
main .giftInfo .gift ul li:nth-child(3) .detail.on {
  height: auto;
  padding: 25px 0 10px;
}
main .giftInfo .gift ul li:nth-child(3) .detail img {
  width: 100%;
  height: auto;
}
main .limitedComponent {
  width: 100%;
  z-index: 3;
  background-color: #f3f3f3;
}
main .limitedComponent .limited .title_box {
  width: 100px;
  padding: 7px 10px;
  border: 2px solid #333333;
  font-weight: bold;
  margin: 0 auto 50px;
}
main .limitedComponent .limited h3 {
  font-size: 32px;
  font-weight: bold;
}
main .limitedComponent .limited .swiper {
  width: 100%;
  max-width: 600px;
  height: 100%;
  margin: 20px auto 60px;
  overflow: unset;
}
main .limitedComponent .limited .swiper-slide {
  text-align: center;
  width: 280px !important;
  height: 310px;
  font-size: 18px;
  background: #fff;
  border-radius: 10px;
  margin-top: 30px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
main .limitedComponent .limited .swiper-slide .swiper-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
main .limitedComponent .limited .swiper-slide .swiper-items img {
  display: block;
  width: 80%;
  height: 80%;
  object-fit: cover;
  margin-bottom: 30px;
}
main .limitedComponent .limited .swiper-slide .swiper-items p {
  font-size: 13px;
  color: #ffac0d;
}
main nav {
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  display: none;
}
main nav ul {
  max-width: 550px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}
main nav ul li {
  width: 100%;
  height: 100%;
  line-height: 50px;
  background-color: #f3f3f3;
}
main nav ul li a {
  width: 100%;
  height: 100%;
  display: block;
}
main nav ul li a.on {
  background: #ffc700;
  font-weight: 600;
}

footer {
  width: 100%;
  padding: 70px 0 50px;
  text-align: center;
  background-color: #fff;
  position: relative;
  z-index: 3;
}
footer h3 {
  font-weight: bold;
}
footer .link {
  max-width: 200px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .link li {
  font-size: 20px;
}
footer .link li a {
  width: 100%;
  height: 100%;
  display: block;
}
footer .link li a i {
  width: 100%;
}

.down_arrow {
  position: fixed;
  z-index: 3;
  font-size: 30px;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: upDown infinite alternate 0.5s;
}

@keyframes upDown {
  from {
    top: 96%;
  }
  to {
    top: 95%;
  }
}

/*# sourceMappingURL=main.css.map */
